<h1 class="animated fadeIn fast">Sobre comic</h1>
<hr />
<p class="animated fadeIn ">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur iure
  praesentium reiciendis corporis magni nobis ullam sequi dolore veritatis
  minima nemo, culpa saepe accusamus quis voluptates consectetur ratione,
  inventore possimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Fugiat deserunt vitae dolores impedit minus inventore dolore iure adipisci
  temporibus culpa enim quaerat cupiditate voluptatem ipsam repellendus, nam
  reiciendis commodi voluptas?
</p>
